<div class="container mb-5 mt-5">
  
  <div class="row vh-100 align-items-center">
    
    <div class="col-md-7 col-lg-5 mx-auto">
      <div class="form-top">
        <div class="d-flex flex-column">
          <img src="http://via.placeholder.com/75x45" class="img-fluid align-self-end" alt="Logo" />
          <h1>Sign up</h1>
        </div>
      </div>

      <section class="user-form">
        <form method="post" action="/auth/signup" role="register">
          <div class="form-group">
            <h2>Basic information</h2>
            <input type="text" name="username" placeholder="Username" required class="form-control input-lg">
            <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required>          
            <input type="email" name="email" placeholder="Email" required class="form-control input-lg" >
          </div>
          <div class="form-group">
            <input type="file" name="avatarUrl" class="form-control" placeholder="Upload your profile pic" aria-label="Upload profile pic">
          </div>
          <div class="form-group">
            <h2>About me</h2>
            <input type="text" name="fullname" placeholder="Full name" required class="form-control input-lg">
            <input type="text" name="city" placeholder="City" required class="form-control input-lg">
            <input type="text" name="age"  placeholder="Age" required class="form-control input-lg">          
            <select class="form-control mr-sm-2" id="categories" name="category">
              <option selected>Interests</option>
              <option value="Music">Music</option>
              <option value="Sports">Sports</option>
              <option value="Party">Party</option>
              <option value="Food">Food</option>
              <option value="Culture">Culture</option>
              <option value="Leisure">Leisure</option>
              <option value="Games">Games</option>
              <option value="Other">Other</option>
            </select>
            <input type="text" name="highlights" placeholder="Resume your interests in 60 chars" maxlength="60" required class="form-control input-lg">
            <textarea class="form-control" placeholder="Add a small bio, max 200 chars" name="biography" rows="5"></textarea>
            <input type="text" name="typeBeds"  placeholder="Nr of beds" required class="form-control input-lg">          
            <input type="text" name="transport"  placeholder="Type if you have a car or other transport" required class="form-control input-lg">          
          </div>
          <div class="form-group">
            <h2 class="text-center">Everything ready?</h2>
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign up</button>
            <div class="text-center">
              <p>Already have an account? <a href="/login">Log in</a></p>
            </div>
          </div>
        </form>
      </section>  
      </div>
    
  </div>    
  
  
</div>