<div class="container">
  <div class="row vh-100 align-items-center">
    
    <div class="col-md-7 col-lg-5 mx-auto">
      <div class="form-top">
        <div class="d-flex flex-column">
          <img src="http://via.placeholder.com/75x45" class="img-fluid align-self-end" alt="Logo" />
          <h2>Sign up</h2>
        </div>
      </div>

      <section class="user-form">
        <form method="post" action="/signup" role="register">
          <div class="form-group">
            <h2>Basic information</h2>
            <input type="text" name="username" placeholder="Username" class="form-control input-lg" required>
            <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required>          
            <input type="email" name="email" placeholder="Email" class="form-control input-lg" required>
            <input type="hidden" id="userPosition" name="userPosition" value="{{userPosition}}">
          </div>
       
          <div class="form-group">
            <h2 class="text-center">Everything ready?</h2>
            <button type="submit" name="go" id="signup-button" class="btn btn-lg btn-primary btn-block">Sign up</button>
          </div>
           <footer class="text-center">
              <p>Already have an account? <a href="/login">Log in</a></p>
            </footer>
        </form>
      </section> 

      
        <aside class="errormessage text-center mt-4">
          {{#if messages.length}}
            {{#each messages}}<p>{{this}}</p>{{/each}}
          {{/if}}

        </aside>  
        
    </div>
  </div>    
</div>

