<h1>Welcome</h1>
<form action="/auth/signup" method="post">

  <label for="">Username</label>
  <input type="text" name="username">

  <label for="">Password:</label>
  <input type="password" name="password">

  <label for="">Email:</label>
  <input type="email" name="email">

  <label for="">City:</label>
  <input type="text" name="city">

  <label for="">Age:</label>
  <input type="number" name="age">

  <label for="">Highlights:</label>
  <input type="text" name="highlights" maxlength="60">

  <label for="">Biography:</label>
  <input type="text" name="biography" maxlength="600">



  <button type="submit">Sign Up</button>

</form>