<div class="container reservations">
  <h1 class="title-book mt-5">Your bookings</h1>
  
  <section class="requested">
    <h2 class="book-sections-title">Your requested bookings</h2>
    {{#unless pending}}
      <p>You have no requested bookings yet!</p>
    {{/unless}}

    {{#each pending}}
      <div class="booking-card">
        {{> reservationCard }}
      </div>


    {{/each}}
  </section>
  <section class="pending">
    <h2 class="book-sections-title">Requests to book you</h2>
    {{#unless pending2}}
      <p>You have no pending requests to book you!</p>
    {{/unless}}

    {{#each pending2}}
      <div class="booking-card">
        {{> rescardtraveller }}
      </div>

      <div>
        <form method="post" action="/profile/reservations">
          <button type="submit" name="status" value="Accepted" class="form-control btn btn-success">Accept</button>
          <button type="submit" name="status" value="Rejected" class="form-control btn btn-danger">Reject</button>  
          <input type="hidden" name="id" value="{{this._id}}">
        </form>
      </div>
    {{/each}}
  </section>

  <section class="accepted">
    <h2 class="book-sections-title">Accepted bookings</h2>

    {{#unless accepted}}
      <p>You have not any accepted booking yet!</p>
    {{/unless}}

    {{#each accepted}}
      <div class="booking-card">
        {{> reservationCard }}
      </div>


    {{/each}}
  </section>
</div>

