<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
      <div class="brand mr-auto"><a class="navbar-brand" href="/"><strong>LB</strong></a></div>
        <form class="form-inline mr-3" action="/search">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">#</span>
            </div>
            <input type="text" class="form-control" placeholder="City" name="city" aria-label="City" aria-describedby="basic-addon1">
          </div>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              {{#if currentUser }}
                <li>
                  <a class="nav-item nav-link" href="/profile">My profile</a>
                </li>
              <li>
                <form action="/logout" method="post">
                  <button type="submit">Log out</button>
                </form>
              </li>
              {{else}}
              <li>
                 <a class="nav-item nav-link" href="/login">Log in</a>
              </li>
              <li>
                <a class="nav-item nav-link" href="/signup">Sign up</a>
              </li>
              {{/if}}
            </ul>               
        </div>
        
      </div>
    </nav>