<div class="swiper-slide">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buddy name</h5>
      <p class="city">Barcelona, Spain</p>
    </div>
  </div>
</div>
<div class="swiper-slide">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buddy name</h5>
      <p class="city">Barcelona, Spain</p>
    </div>
  </div>
</div>
<div class="swiper-slide">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buddy name</h5>
      <p class="city">Barcelona, Spain</p>
    </div>
  </div>
</div>
<div class="swiper-slide">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buddy name</h5>
      <p class="city">Barcelona, Spain</p>
    </div>
  </div>
</div>
<div class="swiper-slide">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buddy name</h5>
      <p class="city">Barcelona, Spain</p>
    </div>
  </div>
</div>