<section class="swiper-container">
  <div class="swiper-wrapper">
    {{#each user}}
    {{#if this.biography}}
      <div class="swiper-slide">
        {{> profileSCard }}
      </div>
    {{/if}}
    {{/each}}
  </div>
  <!-- Add Pagination -->
   <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  {{!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> --}}
</section>