$navbar-height: 56px;

//Colors
$primary_color: orange;
$border-color: #e4e4e4;

//Fonts
$primary-text-font: 'Lato', sans-serif;

//Font sizes
$document-text-size: 14px;
$form-text-size : .8rem;
$buddie-profile-name-size: 2rem;
$buddie-profile-city-size: 1.3rem;

$h2-text-size : 1.2rem;

//Forms
$form-padding: 1rem;