$navbar-height: 56px;

//Colors
$primary_color: #25797c;
$border-color: #e4e4e4;

//Fonts
$primary-text-font: 'Maven Pro', sans-serif;

//Font sizes
$document-text-size: 16px;
$form-text-size : .8rem;
$buddie-profile-name-size: 2rem;
$buddie-profile-city-size: 1.3rem;

$h1-text-size : 2rem;
$h2-text-size : 1.4rem;
$h3-text-size : 1rem;
$p-text-size: 1.1rem;

//Forms
$form-padding: 1rem;