<section class="page-404">
  <div class="d-flex flex-column justify-content-center vh-80">
    <div class="col-md-6 mx-auto content-404">
      <h2>Error 500</h2>
      <a href="/" class="btn btn-primary pt-2 pb-2 mt-3">Back to home</a>
    </div>
  </div>
  
</section>