{{!-- <div class="container header mt-5">
  <h1>Discover & Connect with People out of your city</h1>

</div> --}}

<header class="top-section">
  <div class="container">
    <h1>Discover & Connect</h1>
    <p class="lead">Meet people out of your city</p>
  </div>
</header>

<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="jumbo-content col-md-8 col-lg-6">
        <p>LocalBuddy is the new platform where you can connect with thousands of friends to live experiences out of your city.</p>
          <a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a>
      </div>
    </div>
  </div>
</section>

<section class="meet-our-buddies">
  <div class="container-fluid">
    <h3 class="faded-text">Explore</h3>
    <h2>Meet our buddies</h2>
    {{> swiperslider }}
  </div>
</section>

<section class="mid-section">
  <div class="jumbotron text-right" id="jumbo-mid">
    <div class="row">
    <div class="lead col-md-9 ml-x">
    </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="icon">
          <i class="fas fa-archway"></i>
        </div>
        <h2>Travel</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div>
      <div class="col-md-4">
        <div class="icon">
          <i class="fas fa-hands-helping"></i>
        </div>
        <h2>Meet people</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div>
    </div>
  </div>
</section>
  
<section class="botton-section">
  <div class="jumbotron text-left" id="jumbo-bottom">
    <div class="container">
      <div class="row">
        <div class="lead col-9">
        </div>
      </div>
    </div>
  </div>
</section>
