/* ---- reset ---- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding-top: 56px;
  color: #474747; }

h1, h2, h3, h4, h5 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400 !important; }

.content-box {
  border: 1px solid #e4e4e4;
  padding: 30px; }

.page-other + footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.vh-100 {
  min-height: 100vh; }
  .vh-100.top-section {
    margin-top: -56px; }

.vh-80 {
  min-height: 80vh; }

h2 {
  font-size: 1.4rem;
  font-weight: 700; }

h3 {
  font-size: 1rem; }

a {
  color: #006568;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    opacity: .7; }
  a:focus {
    text-decoration: none;
    color: inherit; }
  a:active {
    text-decoration: none;
    color: inherit; }

.site-footer {
  margin-top: 50px;
  padding: 30px 0;
  background: black; }
  .site-footer ul {
    list-style: none;
    padding-left: 0; }
    .site-footer ul li {
      color: #fff;
      font-size: .8rem;
      font-weight: 100;
      margin-bottom: 4px; }
  .site-footer a {
    color: #fff; }

.home-wrapper + .site-footer {
  margin-top: 0; }

@media (min-width: 768px) {
  .login-section {
    overflow: hidden; } }

.btn {
  border-radius: 0;
  font-weight: 200;
  transition: all .5s; }
  .btn.btn-primary {
    background: #000;
    border-color: #000; }
    .btn.btn-primary:hover {
      background: rgba(0, 0, 0, 0.7);
      border-color: rgba(0, 0, 0, 0.7); }

.form-control {
  border-radius: 0; }

.form-top {
  background: #000;
  padding: 2rem;
  color: #fff;
  text-align: center; }

.user-form {
  padding: 1rem;
  border: 1px solid #e4e4e4; }
  .user-form .form-control + .form-control {
    margin: .5rem 0; }
  .user-form .btn {
    margin: 1rem 0; }
  .user-form .form-control {
    border: none;
    border-bottom: 1px solid #e4e4e4;
    border-radius: 0;
    font-size: 0.8rem;
    padding-left: 0; }
    .user-form .form-control:focus {
      box-shadow: none;
      border-bottom: 1px solid #25797c; }
  .user-form h2 {
    margin-top: 30px; }
  .user-form footer {
    font-size: 0.8rem; }
    .user-form footer a:hover {
      text-decoration: none;
      color: #105657; }

.searchform {
  display: block; }
  .searchform input {
    width: 100%;
    font-size: .8rem;
    font-weight: 200;
    position: relative; }
  .searchform:before {
    position: absolute;
    right: -5px;
    width: 50px;
    height: 100%;
    z-index: 2;
    top: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f002";
    font-size: 1.1rem;
    color: #e4e4e4; }

/*Errormessage*/
.errormessage {
  height: 30px; }

.swiper-container {
  padding-bottom: 40px; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #000 !important; }

.avatar-img {
  color: white;
  height: 250px;
  font-size: 0.8rem; }

.align-end {
  padding-top: 60%; }

.swiper-slide {
  width: 80%; }
  .swiper-slide a {
    color: inherit;
    display: block; }
    .swiper-slide a:hover {
      text-decoration: none; }
  .swiper-slide .card {
    box-shadow: none;
    border: none; }
  .swiper-slide .card-title {
    margin-bottom: 0; }
  .swiper-slide .card-body {
    padding: 5%; }
  .swiper-slide .city {
    margin-bottom: 0;
    margin-top: 5px; }
  .swiper-slide .bio {
    height: 140px;
    overflow: hidden; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px; }

@media (min-width: 768px) {
  .swiper-slide {
    width: 50%;
    padding-right: 20px; }
    .swiper-slide .card-body {
      padding: 1rem 0; }
    .swiper-slide .card-title {
      font-size: 1.1rem; }
  .swiper-container .swiper-pagination {
    display: block !important; } }

@media (min-width: 1024px) {
  .swiper-slide {
    width: 30%;
    padding-right: 20px; } }

.navbar {
  background: #000; }
  .navbar .row {
    width: 100%; }
  .navbar .container-fluid {
    padding: 0 5px 0 10px; }
  .navbar .brand {
    padding: 0; }
  .navbar .s-form {
    padding: 0; }

.navbar-toggle-button {
  z-index: 9999;
  position: fixed;
  top: 20px;
  right: 15px;
  height: 20px;
  width: 30px;
  cursor: pointer;
  transition: opacity .25s ease; }
  .navbar-toggle-button span {
    background: #fff;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .navbar-toggle-button span:nth-of-type(2) {
      top: 7px; }
    .navbar-toggle-button span:nth-of-type(3) {
      top: 14px; }
  .navbar-toggle-button.open span {
    background: #fff; }
  .navbar-toggle-button.open span.top {
    transform: translateY(6px) translateX(0) rotate(45deg); }
  .navbar-toggle-button.open span.middle {
    opacity: 0; }
  .navbar-toggle-button.open span.bottom {
    transform: translateY(-6px) translateX(0) rotate(-45deg); }

.menu-container {
  position: fixed;
  background: #fff;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s,visibility .35s,height .35s,width .35s;
  overflow: hidden;
  z-index: 2;
  color: #fff; }
  .menu-container.open {
    opacity: 1;
    visibility: visible;
    display: block;
    height: 100%;
    overflow: auto; }

.menu {
  width: 100%;
  margin-top: 50px;
  list-style: none;
  padding-left: 0;
  color: #000; }
  .menu h3 {
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 5px; }
  .menu li {
    margin-top: 10px; }
    .menu li a {
      color: #000;
      font-size: 1rem;
      font-family: "Maven Pro", sans-serif; }
  .menu button {
    border: none;
    background: transparent;
    padding: 0;
    font-size: 1rem;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700; }

#load-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #fff;
  transition: all 1s;
  z-index: 10000; }
  #load-wrapper.loaded {
    opacity: 0;
    left: -100%; }

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -32px;
  margin-left: -32px;
  width: 64px;
  height: 64px; }

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.reservation-card {
  background-color: #f1f1f1; }
  .reservation-card body {
    font-display: "Roboto", sans-serif; }
  .reservation-card img {
    width: 100px;
    object-position: center;
    overflow: hidden; }
  .reservation-card .text-book-card {
    padding: 3% 0 3% 5%; }
    .reservation-card .text-book-card h2 {
      margin: 0;
      font-size: 18px;
      font-weight: bolder; }
    .reservation-card .text-book-card p {
      margin: 0;
      font-size: 14px;
      color: #A9A9A9; }

.user-pic {
  height: 375px;
  color: white; }
  .user-pic .fullname {
    font-size: 26px;
    margin: 0%; }
  .user-pic p {
    margin-bottom: 2%; }

.icon-text {
  margin-top: 10%; }

.header-name p {
  text-transform: capitalize; }

#username {
  text-align: center;
  height: 50px;
  font-size: 1.4rem; }

.info-icons {
  background: #efefef; }

@media (min-width: 556px) {
  .mt-3 {
    margin-top: 3rem !important; }
  .buddie-profile .top-banner .avatar {
    height: 170px;
    width: 170px; }
  .avatar {
    right: 15px;
    width: 70px;
    height: 70px; } }

.book-section {
  padding: 5% 5% 5% 5%;
  background-color: #f1f1f1;
  margin: 10% 0 0 0; }

input.date-input {
  height: 40px;
  font-size: .8rem; }

.search-page a {
  display: block; }

.search-page .top-section {
  padding: 20px 0; }

.search-page .jumbotron {
  height: 200px; }

.city {
  text-transform: capitalize; }

.buddie-card {
  color: #000;
  transition: all 1s ease;
  display: inline-block;
  padding: 15px 0;
  position: relative; }
  .buddie-card:hover {
    text-decoration: none;
    color: #000; }
  .buddie-card .highlights {
    margin-bottom: 0;
    font-size: .9rem; }
  .buddie-card .city {
    margin-bottom: 0;
    font-size: 1rem; }
  .buddie-card .rate {
    font-size: 1.4rem;
    font-family: "Maven Pro", sans-serif; }
  .buddie-card .align-end {
    padding-top: 183px;
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .buddie-card .avatar-img {
    height: 290px; }
  .buddie-card .fullname {
    margin-bottom: 0;
    font-size: 1.6rem; }
  .buddie-card .card {
    border: none; }
  .buddie-card .card-top {
    color: #fff; }
  .buddie-card .card-body {
    max-height: 140px;
    padding-bottom: 15px;
    overflow: hidden;
    padding: 1rem; }

.user-list + .site-footer {
  margin-top: 0; }

.search-results {
  position: relative; }
  .search-results .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px; }

@media (min-width: 615px) {
  .buddie-card .avatar-img {
    height: 323px; }
  .buddie-card .fullname {
    font-size: 1.3rem; }
  .buddie-card .align-end {
    padding-top: 230px;
    padding-left: 1.25rem;
    padding-right: 1.25rem; } }

@media (min-width: 768px) {
  .buddie-card .align-end {
    padding-top: 222px; } }

h2 {
  font-size: 1.4rem; }

.faded-text {
  color: #25797c;
  font-size: 1rem; }

.about-us {
  padding: 50px 0; }

.meet-our-buddies {
  padding: 50px 0 20px; }

.about-us .icon {
  font-size: 80px;
  color: #105657; }

.about-us h2 {
  font-size: 2rem; }

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../images/jumbotron-background.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  padding: 70px 15px 30px 15px; }

.top-section {
  padding: 40px 0; }
  .top-section h1 {
    font-size: 2rem;
    padding: 5% 0 0 0;
    font-weight: 400;
    margin-bottom: 0; }

.lead {
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem; }

#jumbo-mid {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(315deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../../images/values.jpg") center;
  background-repeat: no-repeat;
  background-size: cover; }

#jumbo-bottom {
  display: flex;
  align-items: flex-end;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../../images/values2.jpg") center;
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 375px) {
  .jumbotron {
    height: 350px;
    padding: 140px 15px 30px 15px; }
    .jumbotron p {
      font-size: 1.2rem;
      font-weight: 200; } }

@media (min-width: 768px) {
  .jumbotron {
    height: 450px;
    padding: 210px 15px 30px 15px; } }

.reservations {
  margin-bottom: 5%; }
  .reservations h1 {
    font-size: 2rem; }
  .reservations section {
    margin-top: 5%;
    padding-top: 5%; }
    .reservations section .book-sections-title {
      border-bottom: 1px solid #A9A9A9; }
  .reservations .accepted {
    margin-top: 10%; }

.booking-card {
  margin-top: 5%; }
