/* ---- reset ---- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Lato", sans-serif; }

.vh-100 {
  min-height: 100vh; }
  .vh-100.top-section {
    margin-top: -56px; }

h2 {
  font-size: 1.2rem; }

.btn {
  border-radius: 0; }

.form-top {
  background: #ced4da;
  padding: 32px;
  color: #fff; }

.user-form {
  padding: 32px;
  border: 1px solid #ced4da; }
  .user-form .form-control + .form-control {
    margin: .5rem 0; }
  .user-form .btn {
    margin: 1rem 0; }
  .user-form .form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    font-size: 0.8rem;
    padding-left: 0; }
    .user-form .form-control:focus {
      box-shadow: none;
      border-bottom: 1px solid orange; }
  .user-form h2 {
    margin-top: 30px; }

/*Errormessage*/
.errormessage {
  height: 30px; }

.swiper-slide .card-title {
  font-size: 1rem; }
