<section class="buddies-list pt-5">
  <div class="container">
   {{#if users}}
    <div class="row">
      <h2 class="col-12">We have found {{users.length}} buddies in Barclona</h2>
    </div>
    <div class="row">
        {{#each users}}
          {{> userListCard}}
        {{/each}}
      {{else}}
        <p>No users found</p>
      
    </div>
    {{/if}}
  </div>
</section>