<section class="buddies-list">
  <div class="container">
    <div class="row">
      {{#if users}}
        {{#each users}}
          {{> userListCard}}
        {{/each}}
      {{else}}
        <p>No users found</p>
      {{/if}}
    </div>
  </div>
</section>