<header class="top-section">
  <div class="container">
    {{#if users}}
      <h1>You have {{users.length}} buddies in <span class="city">{{city}}</span></h1>
      <p class="lead">Connect to people</p>
    {{else}}  
      <h1>No buddies found in <span class="city">{{city}}</span> yet</h1>
      <p class="lead">Connect to people</p>

    {{/if}}
  </div>
</header>                
          
<section class="jumbotron search-results" id="jumbo-bottom">

</section>
{{#if users}}
  <section class="buddies-list pt-3 pb-4">
    <div class="container-fluid">
      <div class="row">
        {{#each users}}
        <div class="col-sm-6 col-md-4 col-lg-3">
          {{> userlistcard }}
        </div>
        {{/each}}
      </div>
    </div>
  </section>
{{/if}}
  
