<section class="buddies-list pt-5">
  <div class="container">
   {{#if users}}
    <div class="row">
      <h2 class="col-12">You have {{users.length}} buddies in <span class="city">{{city}}</span></h2>
    </div>
    <div class="row">
        {{#each users}}
          {{> profileSCard }}
        {{/each}}
      {{else}}
        <h2 class="pb-5">No buddies found in {{city}}</h2>
      
    </div>
    {{/if}}
  </div>
</section>