/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $document-text-size;
  font-family: $text-font;
  padding-top: $navbar-height;
}
h1,h2,h3,h4,h5{
  font-family: $heading-font;
  font-weight: 400!important;
}
.vh-100{
  min-height: 100vh;
  &.top-section{
  }
}
h2{
  font-size: 2rem;
  font-weight: 700;
}
h2{
  font-size: $h2-text-size;
}

.site-footer{
  background: black;
  color: #fff;
  a{
    color: #fff;
  }
}

@media (min-width: 768px) {
  .login-section{
    overflow: hidden;
  }
}