/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $document-text-size;
  font-family: $text-font;
  padding-top: $navbar-height;
  color: #474747;
}
h1,h2,h3,h4,h5{
  font-family: $heading-font;
  font-weight: 400!important;
}
.vh-100{
  min-height: 100vh;
  &.top-section{
    margin-top: -$navbar-height;
  }
}
h2{
  font-size: 2rem;
  font-weight: 700;
}
h2{
  font-size: $h2-text-size;
}
a{
  color: $middleblue;
  text-decoration: none;
}
.site-footer{
  padding: 30px 0;
  ul{
    list-style: none;
    padding-left: 0;
      li{
        color: #fff;
        font-size: .8rem;
        font-weight: 100;
        margin-bottom: 4px;
      }
    }
    background: black;
    a{
      color: #fff;
    }
}

@media (min-width: 768px) {
  .login-section{
    overflow: hidden;
  }
}