/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $document-text-size;
  font-family: $text-font;
  padding-top: $navbar-height;
  color: #474747;
}
h1,h2,h3,h4,h5{
  font-family: $heading-font;
  font-weight: 400!important;
}
.content-box{
  border: 1px solid $border-color;
  padding: 30px;
}
.page-other{
  +footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.vh-100{
  min-height: 100vh;
  &.top-section{
    margin-top: -$navbar-height;
  }
}
.vh-80{
  min-height: 80vh;
}
h2{
  font-size: $h2-text-size;
  font-weight: 700;
}
h3{
  font-size: $h3-text-size;
}
a{
  color: $middleblue;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    opacity: .7;
  }
  &:focus{
    text-decoration: none;
    color: inherit;
  }
  &:active{
    text-decoration: none;
    color: inherit;
  }
}
.site-footer{
  margin-top: 50px;
  padding: 30px 0;
  ul{
    list-style: none;
    padding-left: 0;
      li{
        color: #fff;
        font-size: .8rem;
        font-weight: 100;
        margin-bottom: 4px;
      }
    }
    background: black;
    a{
      color: #fff;
    }
}
.home-wrapper + .site-footer{
  margin-top: 0;
}

@media (min-width: 768px) {
  .login-section{
    overflow: hidden;
  }
}