.jumbotron {
  background-image: url('https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350')

  h1{
    font-size: $h1-text-size;
    padding: 5% 0;
  }
  p{
    font-family: $primary-text-font;
    font-size: $p-text-size;
  }
}