.user-pic{
  height: 375px;
  display: flex;
}

#username{
  text-align: center;
  height: 50px;
  font-size: $h2-text-size;
}

.fullname{
  font-size: $buddie-profile-name-size;
  color: white;
  align-self: flex-end;
  margin-bottom: 5%;
}  


@media (min-width: 556px) {
  .mt-3{
    margin-top: 3rem!important;
  }
  .buddie-profile{
    .top-banner{
      .avatar{
        height: 170px;
        width: 170px;
      }
    }
  }
  .avatar{
    right: 15px;
    width: 70px;
    height: 70px;
  }
}

.book-section{
  padding: 5% 5% 0 5%;
  background-color: #e3e3e3;
  border: 1px grey solid;
  margin: 10% 0;
}

input.date-input {
  height: 40px;
  font-size: .8rem;
}

// @media (min-width: 768px) {
//   .mt-3{
//     margin-top: 3rem!important;
//   }
//   .buddie-profile{
//     .top-banner{
//       .avatar{
//         height: 170px;
//         width: 170px;
//       }
//     }
//   }
//   .avatar{
//     right: 15px;
//     width: 70px;
//     height: 70px;
//   }
// }