.search-page{
  a{
    display: block;
  }
  .top-section{
    padding: 20px 0;
  }
  .jumbotron{
    height: 200px;;
  }
}
.city{
  text-transform: capitalize;
}
.buddie-card{
  color: #000;
  transition: all 1s ease;
  display: inline-block;
  padding: 15px 0;
  position: relative;
  // border-bottom: 1px solid $border-color;
  &:hover{
    text-decoration: none;
    color: #000;
  }
  .highlights{
    margin-bottom: 0;
    font-size: .9rem;
  }
  .city{
    margin-bottom: 0;
    font-size: 1rem;
  }
  .rate{
    font-size: $h2-text-size;
    font-family: $heading-font;
  }
  .align-end{
    padding-top:183px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .avatar-img{
    height: 290px;
  }
  .fullname{
    margin-bottom: 0;
    font-size: 1.6rem;
  }
  .card{
    border: none;
  }
  .card-top{
    color: #fff;
  }
  .card-body{
    max-height: 140px;
    padding-bottom: 15px;
    overflow:hidden;
    padding: 1rem;
  }
  
}
.search-results{
  position: relative;
  .btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
  }
}
@media (min-width: 615px) {
  .buddie-card{
    .avatar-img{
      height: 323px;
    }
    .fullname{
      font-size: 1.3rem;
    }
    .align-end{
      padding-top:230px;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }

}
@media (min-width: 768px) {
  .buddie-card{
    .align-end{
      padding-top:222px;
    }
  }
  
}