.btn{
  border-radius:0;
  font-weight: 200;
  transition: all .5s;
  &.btn-primary, .btn-success{
    background:#000;
    border-color: #000;
    &:hover{
      background:rgba(0, 0, 0, .7);
      border-color:rgba(0, 0, 0, .7);
    }
  }
}