.form-control{
  border-radius: 0;
}
.form-top{
  background: $border-color;
  padding: $form-padding;
  color: #fff;
}
.user-form{
  padding: $form-padding;
  border: 1px solid $border-color;
  .form-control+.form-control {
    margin: .5rem 0;
  }
  .btn{
    margin: 1rem 0;
  }
  .form-control{
    border: none;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    font-size: $form-text-size;
    padding-left:0;
    &:focus{
      box-shadow: none;
      border-bottom: 1px solid $primary_color; 
    }
  }
  h2{
    margin-top: 30px;
  }
}

.searchform{
  display: block;
  input{
    width: 100%;
  }
}

/*Errormessage*/

.errormessage{
  height: 30px;
}