.navbar{
  background: #000;
  .row{
    width: 100%;
  }
  .container-fluid{
    padding: 0 5px 0 10px;
  }
  .brand{
    padding: 0;
  }
  .s-form{
    padding: 0;
  }
}
.navbar-toggle-button {
  z-index: 9999;
  position: fixed;
  top: 20px;
  right: 15px;
  height: 20px;
  width: 30px;
  cursor: pointer;
  transition: opacity .25s ease;
  span{
    background: #fff;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    &:nth-of-type(2) {
      top: 6px;
    }
    &:nth-of-type(3) {
      top: 12px; 
    }
  }
  &.open{
    span.top{
      transform: translateY(6px) translateX(0) rotate(45deg);
    }
    span.middle{
      opacity: 0;
    }
    span.bottom {
      transform: translateY(-6px) translateX(0) rotate(-45deg);
    }
    span {
      background: #fff;
    }
  }
}

.menu-container {
  position: fixed;
  background: #fff;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s,visibility .35s,height .35s,width .35s;
  overflow: hidden;
  z-index: 100; 
  color: #fff;
  &.open{
    opacity: 1;
    visibility: visible;
    display: block;
    height: 100%;
    overflow: auto;
  }
}

.menu{
  h3{
    border-bottom:1px solid #000;
    display: inline-block;
    padding-bottom: 5px;
  }
  width: 100%;
  margin-top: 50px;
  list-style:none;
  padding-left: 0;
  color: #000;
  li{
    margin-top: 10px;
    a{
      color: #000;
      font-size: $h3-text-size;
      font-family: $heading-font;
    }
  }
  button{
    border: none;
    background:transparent;
    padding: 0;
    font-size: $h3-text-size;
    font-family: $heading-font;
    font-weight: 700;
  }
}