.navbar{
  background: #fff;
  .row{
    width: 100%;
  }
}
.navbar-toggle-button {
  position: fixed;
  top: 20px;
  right: 15px;
  height: 27px;
  width: 40px;
  cursor: pointer;
  z-index: 101;
  transition: opacity .25s ease;
  span{
    background: #dfdfdf;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    &:nth-of-type(2) {
      top: 9px;
    }
    &:nth-of-type(2) {
      top: 9px;
    }
    &:nth-of-type(3) {
      top: 18px; 
    }
  }
  &.open{
    span.top{
      transform: translateY(9px) translateX(0) rotate(45deg);
    }
    span.middle{
      opacity: 0;
    }
    span.bottom {
      transform: translateY(-9px) translateX(0) rotate(-45deg);
    }
    span {
      background: #000;
    }
  }
}

.menu-container {
  position: fixed;
  background: #eeeeee;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s,visibility .35s,height .35s,width .35s;
  overflow: hidden;
  z-index: 100; 
  color: #fff;
  &.open{
    opacity: 1;
    visibility: visible;
    display: block;
    height: 100%;
    overflow: auto;
  }
}

.menu{
width: 100%;
margin-top: 50px;
list-style:none;
  li{
    margin-top: 10px;
    a{
      color: #000;
    }
  }
}