.swiper-container{
  .swiper-pagination{
    display: none!important;
  }
}
.swiper-slide{
  a{
    color: inherit;
    &:hover{
      text-decoration: none;
    }
  }
  .card{
    box-shadow: none;
    border: none;
  }
  .card-top{
    // position: relative;
    // background:$lightblue;
  }
  .card-img-top{
  }
  .card-title{
    font-size: 1rem;
    margin-bottom: 0;
    min-height: 40px;
  }
  .card-body{
    padding: 1rem;
  }
  .city{
    font-size: .8rem;
    margin-bottom: 0;
  }
  .highlights{
    margin-top: 5px;
    font-size: 0.7rem;
    margin-bottom: 0;
    min-height: 50px;
  }
  
}

@media (min-width: 768px) {
  .swiper-slide{
    
  }
  .swiper-container{
    .swiper-pagination{
      display: block!important;
    }
  }
}